* {
    margin: 10px;
}

.navbar {
    background-color: aqua;
    color: black;
    padding: 10px;
}
h2 {
    display: inline;
    margin: 10px 20px 30px 20px;
    padding: 20px 10px;
}
.logo { 
    color: brown;
}
